In [5]:
import benford
import numpy as np
import pandas as pd
import os

In [10]:
os.system('pwd')
datafile = 'tests/census_2009b.csv'
census_df = pd.read_csv(datafile, sep = '\t')

/home/matt/l7/D-fraudr

In [11]:
census_df

         State         Town  7_2009    3     4  8.40188
0      Alabama   Abbeville     2930  3.0  10.0  3.94383
1      Alabama  Adamsville     4782  3.0  11.0  7.83099
2      Alabama     Addison      709  3.0   8.0  7.98440
3      Alabama       Akron      433  3.0   6.0  9.11647
4      Alabama   Alabaster    29861  3.0  10.0  1.97551
...        ...          ...     ...  ...   ...      ...
19504  Wyoming   Wamsutter      310  3.0  10.0  1.75974
19505  Wyoming   Wheatland     3236  3.0  10.0  1.35188
19506  Wyoming     Worland     5054  3.0   8.0  1.03296
19507  Wyoming      Wright     1550  3.0   7.0  9.55124
19508  Wyoming       Yoder      164  3.0   6.0  8.66964

[19509 rows x 6 columns]

In [13]:
pop_data = census_df['7_2009'][census_df['7_2009'] > 0]
pop_data

0         2930
1         4782
2          709
3          433
4        29861
         ...
19504      310
19505     3236
19506     5054
19507     1550
19508      164
Name: 7_2009, Length: 19507, dtype: int64

In [19]:
#str(pop_data.dtype) == 'int64'
'int' in str(pop_data.dtype)

True

In [ ]:
wrong_